/* Global styles
-------------------------------------*/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    color:#343434; 
    background-color: #f7f7f7;
    margin: 0;   
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.25;
    
}


img {
    width: 300px;
}

a {
    color: #FFE66D;
}

a:hover {
    text-decoration: none;
}
h1 {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 20px !important;
}

header h1 {
    margin-top: 30px;
  }
  

h2 {
  font-size: 32px;
}

h1, h2 {
    font-family: "Caveat", cursive;
    font-weight: 400;
    margin: 0;
}
.content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}

.content-wrap-footer {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 30px 0;
}

h3 {
    margin-bottom: 0;
}

.item-details h3 + p {
    font-style: italic
}

.item-details h3 ~ p {
    margin: 0;
}

.divider > section {
    border-bottom: 1px dashed #343434;
    padding: 25px 0 ;
}

.divider > section:last-of-type {
    border-bottom:none;
}
/* Profile
-------------------------------------*/
header{
    background: #2f3061;
    color: #f7f7f7;    
}

header h1 {
    margin-top: 0;
    padding-top: 30px; /* Adjust the padding-top value as needed */
  }

h2.centered-heading {
text-align: center;
margin-bottom: 30px;
}

/* Projects
-------------------------------------*/
.projects{
    background: #f7f7f7;
}
.projects a {
    color: #2F0361
}

.projects .btn {
    color: #f7f7f7;
    background: #2f3061 ;
    text-decoration: none ;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;

}

.projects .btn:hover{
    background: rgba(47, 48, 97, 80%);
}
.projects-item {
    overflow: hidden;
    background-color: transparent;
}



.projects-item h3{
    margin-top: 0;
}
/* Work Experience
-------------------------------------*/
.work-experience{
    background: #A1C6D7;
}


/* Education
-------------------------------------*/
.education {
    background-image: url(../images//joanna-kosinska-unsplash.jpg);
    background-size: cover ;
    background-position: top right;
    padding-bottom: 100px;
}

.education p {
    width: 60%;
}


/* Contact Info
-------------------------------------*/
footer {
    background: #343434;
    color: #f7f7f7;   
}
.contact-list{
    list-style-type: none;
    padding: 0;
}
.contact-list a{
    padding: 15px;
    display: inline-block;
}

/* Carousel
-------------------------------------*/
.carousel-control {
    background-color: transparent;
    
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: 250px;

}

/* Grayscale page
-------------------------------------*/
/* Grayscale Results section */
.grayscale-results {
    text-align: center;
    background: #ffffff;
  }
  
  .grayscale-results h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .grayscale-results .image-container {
    display: flex;
    justify-content: center;
  }
  
  .grayscale-results img {
    width: 100%;
    max-width: 800px;
    height: auto;
  }
/* Essay Grading Video ----------------------- */
.video-responsive {
    position: relative;
    padding-bottom: 56.25%; /* Aspect ratio for 16:9 */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}

.video-responsive iframe {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}
/* Robotic Arm
-------------------------------------*/
.Robot_Arm_YOLO {
    text-align: center;
    background: #a8b1e4;
  }
  
  .Robot_Arm_YOLO .image-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .Robot_Arm_YOLO .image-wrapper {
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
    max-height: 350px; /* Adjust the maximum height as needed */
  }
  
  .Robot_Arm_YOLO .image-wrapper img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
  }
.Robot_Arm_Highest_Object{
    text-align: center;
    background: #9b88db;
}
  
.Robot_Arm_Highest_Object .image-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Added alignment for vertical stretching */
    margin-top: 20px;
  }
  
  .Robot_Arm_Highest_Object .image-wrapper {
    flex: 1 1 calc(50% - 10px); /* Updated flex property for equal width */
    margin-bottom: 20px;
    max-height: 350px; /* Adjust the maximum height as needed */
    display: flex;
    justify-content: center;
    align-items: center; /* Added vertical alignment */
  }

  .image-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .Robot_Arm_Grasping .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .Robot_Arm_Grasping .image-container img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 300px; /* Adjust the maximum height as desired */
    object-fit: contain;
    display: block;
  }
  
  
  .image-container-2-image {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap; /* Allow the images to wrap */
    margin-top: 20px; /* Adjust the margin as needed */
}

.image-wrapper-edge {
    flex: 1 1 calc(50% - 10px); /* Specify the flex property for equal width */
    margin-bottom: 20px;
    max-height: 350px; /* Adjust the maximum height as needed */
    display: flex;
    justify-content: center;
    align-items: center; /* Added vertical alignment */
}

.image-wrapper-edge img {
    height: 100%;
    object-fit: cover;
}


  
.Robot_Arm_Grasping_Dark_Blue {
    background-color: #5eb0d0;  /* Or any other color you'd like */
}

.image-container-single {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }

.sub-menu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    /* other styles to fit your design */
  }
  
  .gif-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif-container img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

  
.image-wrapper-edge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-caption {
    margin-top: 10px;
    font-size: 18px;
}

  

  
  
  

  
  

  
  

  
  
  
  

/* Responsive
-------------------------------------*/

@media screen and (min-width:750px) {
    header, footer {
        text-align: center;
    }

    .projects-item img {
        float: left;
        margin-right: 20px ;
    }

    .job-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
    }
    .contact-list {
        display: flex;
        justify-content: center;
    }

}

@media screen and (max-width:749px) {
    h1 {
        font-size: 48px;
        line-height: 1;
    }
    h1,h2 {
        line-height: 1;
    }
    .contact-list a {
        padding: 5px;
    }
}
