
<div class = "content-wrap-footer">
    <h2>Let's Keep in Touch!</h2>

    <!-- Social media and contact links. Add or remove any networks. -->
    <ul class="contact-list" id="contact-list">
    <li><a href="https://github.com/alexis-bruneau/UoftProjects" target="_blank">GitHub Projects</a></li>                                   
    <li><a href="https://www.linkedin.com/in/alexisbruneau/" target="_blank">LinkedIn</a></li>            
        <li><a id="email-link">Email</a></li>
    </ul>
</div>     
