<!-- ***********************  Reference  *********************** 
The baseline of this code comes from the CSS Essential Training course offered by Christina Truong. 
Her course / files can be found on this link: https://www.linkedin.com/learning/css-essential-training-3/styling-documents-consistently?autoplay=true
***********************  Referemce  *********************** -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alexis Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/menu_bar.css">
    
    <link rel="stylesheet" type="text/css" href="/static/css/carousel.css">
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/static/js/MenuBar.js"></script>
    <script src="/static/js/Email.js"></script>
    <script src="/static/js/CarouselTest.js"></script>    
    <script src = "/static/js/GreyScale_FileUpload.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
  </head>
  <body>
    <!-- ***********************  Side Bar  *********************** -->
    <div id="menu"></div>
    
    <main>
      <!-- ***********************  ABOUT / PROFILE  *********************** -->
      <header>
        <div class = "content-wrap">
          <h1>Alexis Bruneau</h1>         

          <p>Hello and welcome to my page! My name is Alexis Bruneau, I am a student at the University of Toronto and am currently completing a Master of Engineering. My program is with an emphasis on robotics and analytics, and my interests are the following: machine learning, AI applications in robotics, data science, and data analytics.
            A skill of mine is that I learn new concepts quickly. Through work, I used Python, SQL, and Power BI to do data analysis. I also used UiPath to automate processes, and I dabbled a bit in web development using .NET framework. Furthermore, I learned different lean six sigma techniques to improve processes.
            I am excited to learn new skills and apply them to projects related to my interests. On this webpage, I will update projects that I'll be working on throughout the year.
                            
          </p>


          <p>A skill of mine is that I learn new concepts quickly. Through work, I used Python, SQL, and Power BI to do data analysis. I also used UiPath to automate processes, 
            and I dabbled a bit in web development using .NET framework. Furthermore, I learned different lean six sigma techniques to improve processes.        
          </p>

          <p>I am excited to learn new skills and apply them to projects related to my interests. On this webpage, I will update projects that I'll be working on throughout the year.            
          
          </p>

        </div>
      </header>

      <!-- ********************  PROJECTS / PORTFOLIO  ********************* -->
      <!-- Test -->
      <h2 class="carousel-title">Project Paper</h2>
      <div id="carousel">
        <div class="hideLeft" data-href="Project_PDF_Reports/People Tracker.pdf">
            <img src="/static/images/People_tracker_pdf.png">   
            <a href="#" class="image-overlay" style="display: none;">
              <div class="image-text">Click to view full report</div>
          </a>

        </div>
        <div class="hideLeft" data-href="Project_PDF_Reports/Autonomous Robotic Dishwasher Arm.pdf">
            <img src="/static/images/Robotic_Arm_Prediction_Paper.png"> 
            <a href="#" class="image-overlay" style="display: none;">
              <div class="image-text">Click to view full report</div>
          </a>          
        </div>
        <div class="prev" data-href="Project_PDF_Reports/Project Report Evaluating Classifiers for Equity.pdf">
            <img src="/static/images/Stock_Prediction_Paper.png">  
            <a href="#" class="image-overlay" style="display: none;">
              <div class="image-text">Click to view full report</div>
          </a>       
        </div>
        <div class="selected" data-href="Project Report Evaluating Classifiers for Equity.pdf">
            <img src="/static/images/Stock_Prediction_Paper.png">  
            <a href="#" class="image-overlay" style="display: none;">
              <div class="image-text">Click to view full report</div>
          </a>          
        </div>
        <div class="next" data-href="Project_PDF_Reports/Project Report Evaluating Classifiers for Equity.pdf">
            <img src="/static/images/Stock_Prediction_Paper.png"> 
            <a href="#" class="image-overlay" style="display: none;">
              <div class="image-text">Click to view full report</div>
          </a>           
        </div>
        <div class="hideRight" data-href="Project_PDF_Reports/Autonomous Robotic Dishwasher Arm.pdf">
            <img src="/static/images/Robotic_Arm_Prediction_Paper.png">   
            <a href="#" class="image-overlay" style="display: none;">
              <div class="image-text">Click to view full report</div>
          </a>         
        </div>
        <div class="hideRight" data-href="Project_PDF_Reports/People Tracker.pdf">
            <img src="/static/images/People_tracker_pdf.png">     
            <a href="#" class="image-overlay" style="display: none;">
              <div class="image-text">Click to view full report</div>
          </a>       
        </div>
    </div>
    

      <!-- <div id="Carousel_main_page"></div> -->
      
        <!--      
        <div id="myCarousel" class="carousel slide">          
          <ol class="carousel-indicators">
            <li class="item1 active"></li>
            <li class="item2"></li>   
            <li class="item3"></li>                    
          </ol>
          
        
          <div class = "content-wrap divider">
            <h2>Projects</h2>
            <div class="carousel-inner" role="listbox">
              <div class="item active">
            
                <section class="projects">
                                                                  
               
                  <section class = "projects-item">
                    <img src="/static/images/Decision-Tree.jpg" alt="description of image">
                    <h3>Machine Learning - Regression Models</h3> 
                    <p> The purpose of the project is to predict the number of bike rented using three different
                      regression models: OLS, Locally Weighted, and Poisson.</p>
                    <a class = "btn" href="https://github.com/alexis-bruneau/UoftProjects/tree/main/CSC%202515/Assignment%202" target="_blank">View project</a>
                  </section>                      
                </section>                  
              </div>

              <div class="item">
                <section class="projects">
                  <section class = "projects-item">                    
                    <img src="/static/images/3D_Point_Cloud.png" alt="description of image">
                    <h3>Feature Point Detection & 3D Point Cloud Registration</h3>
                    <p>This 2 part project consist of matching features between stereo camera pairs,
                      and taking a rigid transform from one point cloud to another such that they align.</p>
                    <a class = "btn" href="https://github.com/alexis-bruneau/UoftProjects/blob/main/AER1515/Assignment%202" target="_blank">View project</a>                    
                  </section>
                </section>
              </div>     
              
              <div class="item">
                <section class="projects">
                  <section class = "projects-item">                    
                    <img src="/static/images/Ordinal_Logistic_Regression.jpg" alt="description of image">
                    <h3>Machine Learning - Ordinal Logistic Regression</h3>
                    <p> The goal of this project is to implement ordinal logistic regression to 
                      predict the yearly compensation of each participants.</p>
                    <a class = "btn" href="https://github.com/alexis-bruneau/UoftProjects/tree/main/MIE1624/Assignment%202" target="_blank">View project</a>                    
                  </section>
                </section>
              </div>          


            </div>
          </div>
          
          <a class="left carousel-control" href="#myCarousel" role="button">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>    
      -->

      <!-- ***********************  WORK EXPERIENCE  *********************** -->
      <section class="work-experience">
        <div class = "content-wrap item-details divider">
          <h2>Work Experience</h2>

          <!-- Copy this whole <section> block to add more jobs. -->
            <section class="job-item">
              <div class="job-detals">
                <h3>Automation and BI Developer</h3>
                <p>Transport Canada</p>
                <p>01/01/2022 - 01/09/2022</p>
              </div>
              <div class = "job-summary">
                <!-- <p>The purpose of this job was to analyze data related to cargo shipments using BI Tools and automate
                internal processes using different software tools. </p>
                <p>Tasks:</p> -->
                <ul>
                  <li>Analyzed and measured SQL query performance using multiple 
                  tools such as Microsoft Azure Studio, Databricks, and SSMS</li>
                  
                  <li>Improved query performance by tuning individual queries and optimizing
                  database schema</li>

                  <li>Utilized Power Query to produce data analysis reports, filter down and
                  transform data in Power BI</li>

                  <li>Interacted with business users to create dashboards, data analysis reports,
                  and interactive visuals using BI tools that meet business requirements</li>

                  <li>Collaborated with team to plan work using Azure DevOps</li>

                </ul>
              </div>
            </section>

          <section class="job-item">
            <div class="job-detals">
              <h3>RPA Developper</h3>
              <p>Transport Canada</p>
              <p>01/04/2021 - 01/09/2021</p>
            </div>
            <div class = "job-summary">
              <ul>
                <li>Implemented automation solutions such as gathering clients’ requirements,
                  proposing solutions and testing bots to solve critical business IT problems</li>
                
                <li>Developed bots using UiPath to meet client requirements</li>
                
                <li>Automated business process using Blue Prism software</li>

                <li>Tested automation software and provided a technical report on which one
                would be beneficial for a specific business case</li>

                <li>Defined and develop a process model on Appian BPM for an HR
                Onboarding process</li>
               
                <li>Communicated efficiently to client automation solution and its benefit</li>

              </ul>
            </div>
          </section>

          <section class="job-item">
            <div class="job-detals">
              <h3>CO-OP Student Process Engineering</h3>
              <p>Canada Post</p>
              <p>01/09/2020 - 31/12/2020</p>
            </div>
            <div class = "job-summary">
              <ul>
                <li>Improved letters processed per hour using lean six sigma analysis techniques</li>
                
                <li>Used critical thinking to generate a root cause analysis report concerning an
                underperforming mail sorting process</li>
                
                <li>Developed an automatic report using VBA forecasting future mail volume</li>

                <li>Optimized the amount of inventory needed based on analysis</li>

                <li>Designed the layout of an automatic manual sortation case</li>
               
                <li>Communicated efficiently a list of recommendations for the improvement of a
                mail sorting process</li>

                <li>Increased accuracy of the conversion factor used to calculate the processed
                volume of letters</li>

              </ul>
            </div>
          </section>




          <!-- End of Job block. -->
        </div>
      </section>

      <!-- ******************  EDUCATION & CERTIFICATIONS ****************** -->
      <section class="education">
        <div class = "content-wrap item-details">
          <h2>Education</h2>

          <!-- Copy this whole <section> block to add more schools. -->
          <section>
            <h3>University of Toronto</h3>
            <p>Master of Engineering - MEng -- Expected 2023</p>
            <p>Mechanical Engineering emphasis in robotics and analytics</p>            
                              
            <h3>Ottawa University</h3>
            <p>BASc Mechanical engineering -- Jan 2022</p>
            <p>Summa Cum Laude</p>
          </section>
          <!-- End of School block. -->
        </div>
      </section>

      <!-- *****************  CONTACT INFO / SOCIAL MEDIA  ***************** -->
      <footer>
        <div id="contact"></div>
      </footer>  
    </main>
    
    <script>
      $(document).ready(function(){
      $("#menu").load("/menu_bar.html");
      $("#contact").load("/Contact.html");
      $("#Carousel_main_page").load("/Carousel_JQuerry.html")
  });
      </script>
      
  </body>
</html>
