<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="#!">Alexis Bruneau</a>
    </div>
    <nav>
      <div class="nav-mobile">
        <a id="nav-toggle" href="#!"><span></span></a>
      </div>
      <ul class="nav-list">
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <a href="#!">Deep Learning</a>
          <ul class="nav-dropdown">
            <li>
              <a href="Grayscale.html">Grayscale to Coloured image</a>
            </li>
            <li>
              <a href="Essay_Grading.html">Automated Essay Gradding</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#!">ML / Analytics</a>
          <ul class="nav-dropdown">
            <li>
              <a href="Stock_Performer.html"
                >Evaluating Classifiers for Equity Performance
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#!">Robotics</a>
          <ul class="nav-dropdown">
            <li>
              <a>Computer Vision</a>
              <ul class="sub-menu">
                <li><a href="Robot_Arm.html">Robotic Dishwasher Arm</a></li>
                <li><a href="People Tracker.html">Crowd Flow</a></li>
                <li>
                  <a href="Point_Cloud.html"
                    >Perception and Point Cloud Registration</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a>Motion Planning</a>
              <ul class="sub-menu">
                <li><a href="RRT_vs_RRT_Start.html">RRT vs RRT*</a></li>
                <li><a href="#!">Coming Soon</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
